.settings-layout { margin-top: 1rem; }

.btn-gray {
  background-color: #E5E7EB !important;
  color: #9CA3AF !important;
  cursor: not-allowed !important;
  transform: none !important;
  box-shadow: none !important;
}
[data-theme='dark'] .btn-gray {
  background-color: #374151 !important;
  color: #4B5563 !important;
}

.modified-label {
  font-weight: 700 !important;
  color: var(--primary) !important;
}
